version: "3.8"

services:
  app:
    build: .
    container_name: queuenow_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: queuenow_mysql
    restart: always
    environment:
      MYSQL_DATABASE: queuenow
      MYSQL_USER: queuenow
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
