@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth theme transition (avoid eye strain) */
.theme-transition,
.theme-transition * {
    transition: background-color 200ms ease, color 200ms ease,
        border-color 200ms ease, fill 200ms ease, stroke 200ms ease;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  transition: background-color 9999s ease-out 0s;
  box-shadow: 0 0 0px 1000px transparent inset;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  -webkit-text-fill-color: #f9fafb;
  box-shadow: 0 0 0px 1000px #111827 inset; /* gray-900 */
}
